# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# IDEs & Editors
.vscode/
.idea/
*.swp

# Dataset Files & Large Data (Whole Slide Images, Omics Matrices)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
data/results/*
!data/results/.gitkeep

# Large formats
*.svs
*.ndpi
*.tif
*.tiff
*.h5
*.h5ad
*.h5df
*.pth
*.pt
*.onnx
*.pkl
